html, body, ul
{
	margin: 0;
	height: 95%;
}

body
{
	/*overflow-x: hidden;
	overflow-y: auto;*/
    background: url(../img/logo-alcaldia2.png);
    background-size: 60% 65%;
    background-repeat: no-repeat;
    background-position: center;
}

img
{
	margin: 0px 12px 0px 0px;
}

input[type=submit]
{
    height: 40px;
    background-color: rgba(116, 162, 179, 0.29);
    margin: 0px 6px  25px 2px;
    border-radius: 5px;
    font-family: 'Denk One', sans-serif;
    display: inline-block;   
}

li a
{
	text-decoration: none;
}

section
{
	/*background-color: gray;*/
	width: 100%;
	height: 94%;
}

table
{
    text-align: center;
    margin: auto;
}

#botonExportar
{
    width: 65%;
    margin: auto;
    text-align: right;
}
#btnReg{
    margin: auto;
    text-align: center;
    width: 100%;
}
    
#botonMenu
{
	background: url(../img/menu-view.png);
	background-size: 100% 100%;
	width: 35px;
	height: 35px;
	display: inline-block;
	margin-left: 15px;
    margin-right: 20px;
}

#espacio
{
	background-color: black;
	width: 32px;
	margin-top: 5px;
	text-align: center;
	border-radius: 5px;
	cursor: pointer;
	text-align: left;
	padding: 5px;
	height: 35px;
}

#exp-pdf, #exp-excel
{
    margin: 0px 10px 15px 0px;
}

#menu
{
	background-color: rgb(5, 5, 0);
	width: 45px;
	/*width: 170px;*/
	height: 100%;
	padding: 5px;
	float: left;
	/*margin-top: 20px;*/

	list-style:none;
}

#menu li a
{
	display:block;
	background-color: rgb(150, 150, 150);
	/*width: 32px;*/
	/*width: 150px;*/
	height: 35px;
	margin-top: 5px;
	text-align: center;
	border-radius: 5px;
	text-align: left;
	padding: 5px;
	font-family: 'Denk One', sans-serif;
	font-size: 1em;
	color: black;
}

#op1, #op2, #op3, #op4, #op5
{
	width: 42px;
}
/*
.capas
{
	width: 96%;
	min-height: 92%;
	position: absolute;
	box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
	margin-left: -102%;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}
    
.capas:target{
	margin-left: 11%;
}*/

.olo
{
	display: none;
	float: right;
	text-align: left;
}

#nube
{
	background-color: red;
}

#musica
{
	background-color: blue;
}

#navega
{
	background-color: green;
}

#ubica
{
	background-color: yellow;
}

#bd
{
	background-color: orange;
}

#registro{
    margin: auto;
    width: 30%;
}
#titMenu
{
	background-color: rgba(190, 190, 190, 0.6);
	width: 100%;
	height: 5%;
	padding: 5px;
    margin-bottom: 50px;
}
