@{
    
}

<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
        <title>Requerimientos</title>
  	    <link rel="stylesheet" href="css/estilos.css" />
  	    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  	    <script src="js/myCod.js"></script>
    </head>
    <body>

        <div id="contenedor">
            <h1>Subdirección de Catastro</h1>
            <h2>Equipo de Sistemas</h2>
            <div id="usuario">
                <p>Jhon Orrego</p>
                <p>02/04/2013</p>
            </div>
            
            <nav>
                <div id="agregar">Agregar Requerimientos</div>
            </nav>


        </div>
        
    </body>
</html>
